@font-face {
  font-family: Lobster;
  src: url('./assets/fonts/display/Lobster-Regular.ttf');
}

@font-face {
  font-family: Raleway;
  src: url('./assets/fonts/sans-serif/Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Raleway;
  src: url('./assets/fonts/sans-serif/Raleway-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Raleway;
  src: url('./assets/fonts/sans-serif/Raleway-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Raleway;
  src: url('./assets/fonts/sans-serif/Raleway-Regular.ttf');
}

@font-face {
  font-family: Merriweather;
  src: url('./assets/fonts/serif/Merriweather-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: Merriweather;
  src: url('./assets/fonts/serif/Merriweather-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: Merriweather;
  src: url('./assets/fonts/serif/Merriweather-Regular.ttf');
}

body,
h1,
h2,
ul,
ul,
li,
p,
a {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Raleway, sans-serif;
}

p,
q {
  font-family: Merriweather, serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Merriweather, serif;
  padding-top: 4rem;
}

ul {
  list-style: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

input {
  &:focus {
    outline-offset: none;
    border: none;
    outline: none;
  }
}

.container {
  max-width: 1070px;
  margin: 0 auto;
}

.container-full {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

@keyframes show-down {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

main {
  animation: show-down 0.8s forwards;
}

.titleCuston {
  font-family: Lobster;
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background: #25d26d;
    position: absolute;
    bottom: 5px;
    left: -5px;
    border-radius: 0.2rem;
    z-index: -1;
  }
}
@media only screen and (max-width: 1170px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
